*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url('/assets/img/Facetune_29-09-2022-21-43-54.JPG');
    background-position: center;
    font-family: 'Indie Flower', cursive;
}

.todohone {
    padding-top: 20px;
    text-align: center;
    color: white;
    font-size: 2.5rem;
}

.container {
    width: 40%;
    min-width: 450px;
    position: absolute;
    min-height: 100px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background: rgb(178, 89, 45);
    box-shadow: 3px 4px 8px 3px rgb(0, 0, 0);
    border-radius: 10px;
}

#newtask {
    position: relative;
    padding: 30px 20px;
}

#newtask input {
    width: 75%;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: 2px solid #996838;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}

#newtask input:focus {
    outline: none;
    border-color: #ff7700;
}

#newtask button {
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px rgb(76, 76, 76);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #ce3b3b;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}

#newtask button:hover {
    box-shadow: 1px 1px 2px 1px rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);

    background-color: #8c5925;
    transition: 1s;
}

#tasks {
    background-color: #ffffff00;
    padding: 30px 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
    position: relative;

}

.task {
    background-color: #f3f3f3;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #c08e5b;
    cursor: pointer;
}

.task span {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.task button {
    background-color: #a40a0a;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}


/* ANIMAZIONE APERTURA PAGINA  */

.main-bg {
    background: url('/assets/img/Facetune_29-09-2022-21-43-54.JPG') no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(100px);
}

.loading-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0%, 0%);
}